body {
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
}

hr {
    width: 600px;
    margin-bottom: 10px;
}

#title {
    font-size: 3rem;
    font-weight: bold;
}

.game-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#board {
    display: flex;
    flex-direction: column;
    margin-bottom: 10px;
}

.board-row {
    display: flex;
    justify-content: center;
}

.tile {
    width: 60px;
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 2px solid #d3d3dd;
    border-radius: 4px;
    font-size: 2rem;
    font-weight: bold;
    margin: 5px;

}

.correct {
    background-color: #6ca965;
    border-color: #6ca965;
    color: white;
}

.present {
    background-color: #c8b653;
    border-color: #c8b653;
    color: white;
}

.absent {
    background-color: #787c7f;
    border-color: #787c7f;
    color: white;
}

#keyboard {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.keyboard-row {
    display: flex;
    justify-content: center;
    gap: 8px;
}

#keyboard button {
    font-size: 1rem;
    font-weight: bold;
    padding: 15px;
    border: none;
    border-radius: 3px;
    text-transform: uppercase;
    cursor: pointer;
}

#reset-button {
    background-color: #f0f0f0;
    color: black;
    border: none;
    padding: 10px 15px;
    margin: 20px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    font-weight: bold;
}

#message {
    height: 30px;
    margin: 10px 0;
    font-weight: bold;
}

@media (max-width: 768px) {
    html, body {
        overflow-x: hidden;
        overflow-y: hidden;
    }
    body {
        max-height: 100vh;
        max-width: 100vb;
        position: relative;
    }
    #title {
        font-size: 2rem;
    }
    .tile {
        width: 40px;
        height: 40px;
    }
    #keyboard button {
        font-size: 0.8rem;
        padding: 10px;
    }
}
/* colors @ https://www.color-hex.com/color-palette/1012607 */